{% extends "hops_base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% if results|length > 0 %}
      {% if beer_name %}
        <div class="list-group-item">
          <h3>{{ beer_name[0] }} by {{ beer_name[1] }}</h3>
          <p>
            Style: {{beer_name[9]}}
          </p>
          <p>
            Top Features: {{beer_name[2]}}, {{beer_name[3]}}, {{beer_name[4]}}, {{beer_name[5]}}, {{beer_name[6]}}, {{beer_name[7]}}, {{beer_name[8]}}
          </p>
        </div>
        <h3>Top 5 Beers Recommendations</h3>
      {% endif %}
      <br>
      <div id="results">
        <div class="list-group">
          {% for result in results %}
            <a class="list-group-item">
              <div>
                <h4 id='beer' class="list-group-item-heading">{{ result[0] }}</h4>
                <p><i>{{ result[1]}}</i></p>
              </div>
              <p class="list-group-item-text">Style: {{ result[2] }} </p>
              <p class="list-group-item-text">Top Features: {{ result[3] }}, {{ result[4] }}, {{ result[5] }}, {{ result[6] }}, {{ result[7] }}, {{ result[8] }}, {{ result[9] }} </p>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
