<input type="text" id="example" />
<script>
  var json = [
    {
      "id": 1,
      "value": "Andrew Pougher",
      "label": "X"
    },
    {
      "id": 2,
      "value": "Michele Moore",
      "label": "Y"
    },
    {
      "id": 3,
      "value": "Sandy Petersen",
      "label": "Z"
    },
    {
      "id": 4,
      "value": "Michael Moore",
      "label": "Q"
    },
    {
      "id": 5,
      "value": "Barack Obama",
      "label": "M"
    }
  ]

  $('#example').typeahead( {
  	source: json,
    matcher: function(item) {
     	for (var attr in item) {
    		if (~item[attr].toString().toLowerCase().indexOf(this.query.toLowerCase()))	return true
      }
      return false
    },
    displayText: function(item) {
      return JSON.stringify(item)
    },
    highlighter: function(item) {
      item = JSON.parse(item)
      return '<span><h4>'+item.value + '</h4>' + item.id  + ' ' + item.label +'</span>'
  	},
    afterSelect: function(item) {
      this.$element[0].value = item.value
  	}
  })
</script>
