{% extends "hops_base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="alert alert-block alert-success"></div>
</div>
<div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-demo1" data-toggle="tab">Demo #1</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="tab-demo1">
            <h3>Demo #1</h3>
            <div class="well col-md-5">
                <input id="test" type="text" class="col-md-12 form-control" placeholder="Search cities..." autocomplete="off" />
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">

$('#demo1').typeahead({
source: [
    { id: 1, name: 'Toronto' },
    { id: 2, name: 'Montreal' },
    { id: 3, name: 'New York' },
    { id: 4, name: 'Buffalo' },
    { id: 5, name: 'Boston' },
    { id: 6, name: 'Columbus' },
    { id: 7, name: 'Dallas' },
    { id: 8, name: 'Vancouver' },
    { id: 9, name: 'Seattle' },
    { id: 10, name: 'Los Angeles' }
]
});
                </pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function() {
        function displayResult(item) {
            $('.alert').show().html('You selected <strong>' + item.value + '</strong>: <strong>' + item.text + '</strong>');
        }
        $('#test').typeahead({
            source: [
                {id: 1, name: 'Toronto'},
                {id: 2, name: 'Montreal'},
                {id: 3, name: 'New York'},
                {id: 4, name: 'Buffalo'},
                {id: 5, name: 'Boston'},
                {id: 6, name: 'Columbus'},
                {id: 7, name: 'Dallas'},
                {id: 8, name: 'Vancouver'},
                {id: 9, name: 'Seattle'},
                {id: 10, name: 'Los Angeles'}
            ],
            onSelect: displayResult
        });


    });
</script>
{% endblock %}
